#timelineLoader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signInUpLoader {
  position: relative;
  top: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
